.homepage-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    text-rendering: auto;
    font-size: 1rem;
  }
  .page-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 1rem;
  }
  
  .page-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .page-container p {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  
  .dark-mode {
    background-color: #121212;
    color: #ffffff;

  
    // a,
    // .btn-primary {
    //   color: #946ac7;
    // }
  
    .bg-white {
      background-color: #121212 !important;
    }
  
    .navbar,
    .card {
      background-color: #1f1f1f;
    }
  
    .card {
      border: 1px solid #333;
    }
  }
  #dark-mode-switch {
    .custom-control-label::before {
      background-color: #e9ecef;
    }
  
    .custom-control-input:checked~.custom-control-label::before {
      background-color: #343a40;
    }
  }
  // Define styles for light mode
.navbar {
  background-color: #f8f9fa !important; // Light mode background color for Navbar
  
  .nav-link, .navbar-brand {
    color: #000 !important; // Light mode color for Navbar links
  }
}

// Define styles for dark mode
body.dark-mode .navbar {
  background-color: #333333 !important; // Dark mode background color for Navbar
  
  .nav-link, .navbar-brand {
    color: #fff !important; // Dark mode color for Navbar links
  }
}
.register-container {
  padding-top: 50px;
}

.register-button {
  background-color: #007bff; // Your primary color
  border: none;
  margin-top: 20px; // Added padding above the button
  &:hover {
    background-color: #0056b3; // Your hover color
  }
}
.mt-3 {
  margin: 5px !important;

  // padding: 30px;
}
  
  // Define styles for light mode
  .modal-content{
    background-color: #f8f9fa !important; // Light mode background color for modal-content
 
  }
  
  // Define styles for dark mode
  body.dark-mode .modal-content {
    background-color: #333333 !important; // Dark mode background color for modal-content
   
    
  }

  .form-control {
    background-color: #f8f9fa !important; // Light mode background color for form-control
    color: #000 !important; // Light mode color 
  }
  body.dark-mode .form-control {
    background-color: #333333 !important; // Dark mode background color for form-control
    color: #fff !important; // Dark mode color 
    
  }
  .form-control:focus {
    background-color: #f8f9fa !important; // Light mode background color for form-control
    color: #000 !important; // Light mode color 
  }
  body.dark-mode .form-control:focus {
    background-color: #333333 !important; // Dark mode background color for form-control
    color: #fff !important; // Dark mode color 
    
    
  }
  .form-control::placeholder {
    color: #000 !important; // Light mode color 
  }
  body.dark-mode .form-control::placeholder {
    color: #fff !important; // Dark mode color 
    
  }
  .text-muted {
    color: #6c757d !important; // Light mode color for .text-muted
    font-size: small;
  }
  
  // Define styles for dark mode
  body.dark-mode .text-muted {
    color: #b3b3b3 !important; // Dark mode color for .text-muted
    font-size: small;
  }
  .list-group-item {
    background-color: #f8f9fa !important; // Light mode background color for form-control
    color: #000 !important; // Light mode color 
  }
  body.dark-mode .list-group-item {
    background-color: #333333 !important; // Dark mode background color for form-control
    color: #fff !important; // Dark mode color 
    
  }
  .navbar-custom {
    background-color: #f8f9fa; // Adjust as needed
    .navbar-brand {
      color: #000 !important; // Adjust as needed
      .badge {
        background-color: #6c757d; // Adjust as needed
      }
    }
    .nav-link {
      color: #000 !important; // Adjust as needed
      &:hover {
        color: #272525 !important; // Adjust as needed
        
      }
    }
    .active {
      color: #3b3636 !important; // Adjust as needed
    }
    
  }
  body.dark-mode .navbar-custom {
    background-color: #333333; // Adjust as needed
    .navbar-brand {
      color: #fff !important; // Adjust as needed
      .badge {
        background-color: #b3b3b3; // Adjust as needed
      }
    }
    .nav-link {
      color: #fff !important; // Adjust as needed
      &:hover {
        color: #b3b3b3 !important; // Adjust as needed
      }
    }
    .active {
      color: #b3b3b3 !important; // Adjust as needed
    }
  }
  .home-brand {
    color: #000 !important; // Or any color that is visible in light mode on the home page
  }
  body.dark-mode .home-brand {
    color: #fff !important; // Or any color that is visible in dark mode on the home page
  }


  .card {
    background-color: #f8f9fa !important; // Light mode background color for .card
    color: #000 !important; // Light mode color for .card
    margin: auto;
    text-align: justify;
    border-radius: 15px; // Rounded edges
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); // Drop shadow for 3D look
  }
  body.dark-mode .card {
    background-color: #333333 !important; // Dark mode background color for .card
    color: #fff !important; // Dark mode color for .card
    margin: auto;
    border-radius: 15px; // Rounded edges
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1); // Drop shadow for 3D look
  }
  // .card-text {
  //   color: #000 !important; // Light mode color for .text-muted
  //   font-size: small;
  // }
  // body.dark-mode .card-text {
  //   color: #fff !important; // Dark mode color for .text-muted
  //   font-size: small;
  // }
  .card-body {
   padding: 5px;
  }